**/.terraform/*
./terra/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
kubeconf/urltojson-configmap.yml
kubeconf/urltojson-secret.yml
src/connStr
terra/var.tf
terra/kubeconfig_ruslangr-eks
/gitlab/cicd-cls-c875b50c45c8.json
gitlab/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

